@media print {
    body {
        background: white;
        color: black;
        margin: 0;
    }
    section {
        color: black;
        font-size: 15px;
        page-break-inside: avoid;
        /*ASI NO CORTARA LOS ARTICULOS*/
    }
    header {
        display: none;
    }
    .bloq-segundo {
        display: none;
    }
    .articulos {
        page-break-inside: avoid;
    }
    .contact {
        display: none;
    }
    footer {
        display: none;
    }
}